body{
  /* background: url(Pictures/Original/North_Bush_HW_Mesa_AZ.jpg); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-color: #cccccc; */
  background-color: white;
  text-align: justify;
  font-size: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;
  /* font-family: 'Iceland', cursive; */
  /* font-family: 'Fugaz One', cursive; */
}

nav {
  background-image: url(Pictures/B_Wonderspaces.jpg);
  background-size: cover;
  color: white;
}

.jumbotron {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  background-color: white;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 0.3;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}

#myCaption{
  color: #1c5cd4;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-family: 'Iceland', cursive;
}

#jumblogin{
  background-size: cover;
  margin-top: 100px;
  background-color: white;
  color: white;
}

#ecars_title{
  color: #1c5cd4;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  /* font-family: 'Racing Sans One', cursive; */
  font-family: 'Iceland', cursive;
}

#picture_title{
  color: #1c5cd4;
  margin-top: 80px;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  /* font-family: 'Racing Sans One', cursive; */
  font-family: 'Iceland', cursive;
}

ul, a {
  color: #1c5cd4;
}
